/* Colors */
$dark-gray: #222;
$gray: #4F5050;
$light-gray: #ecf0f1;
$white: #ffffff;
$red: #e74c3c;

/* Definitons */
$default-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
$radius: 4px;

html, body, #divisions {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background: $light-gray url('/images/wallpapers/1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $gray;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wallpaper {
    width: 100%;
    height: 100%;
    background: $light-gray url('/images/wallpapers/1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute 0px 0px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

input, textarea, select, button, .button, keygen {
    float: left;
    background: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: $radius;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 3px 3px 0px;
}
button, .button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    box-shadow: inset 0px 1000px 0px rgba(210, 210, 210, 0.3);
}
ul {
    width: 100%;
    padding: 0;
    margin: 15px 0;
    list-style: none;
    li {
        word-break: break-word;
        padding: 5px;
        border-bottom: 1px solid #ecf0f1;
        &:last-child {
            border-bottom: none;
        }
    }
}
.info {
    color: gray;
    font-size: 11px;
    padding: 0px 8px;
}

.window {
    position: absolute 0px 0px;
    min-width: 190px;
    width: 500px;
    height: 300px;
    min-height: 190px;
    box-shadow: $default-shadow;
    background: color(rgb(210, 210, 210) alpha(30%));
    padding: 0px 7px 7px 7px;

    .title {
        cursor: move;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0px 5px;
        color: rgba(0, 0, 0, 0.7);
        .hide {
            display: inline-block;
            position: absolute;
            right: 0px;
            height: 30px;
            line-height: 30px;
            width: 40px;
            text-align: center;
            cursor: pointer;
        }
    }
    .content {
        position: relative;
        display: block;
        padding: 10px;
        background: white;
        width: 100%;
        height: 270px;
        overflow: auto;
        border-radius: $radius;
    }
}

#bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            display: inline-block;
            width: 50px;
            margin: 0;
            padding: 0;
            a {
                margin: 0;
                padding: 0;
                display: block;
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-decoration: none;
                text-align: center;
                font-size: 30px;
                text-shadow: 0px 3px 0px color(black alpha(10%));
                color: white;
                i {
                }
            }
        }
    }
}



/*** Calculator ***/
.calc {
    .calc-input {
        width: 70%;
    }
    .calc-button {
        width: 26%;
        float: right;
    }
    .calc-results {

    }
}

.file-manager {
    .calc-input {
        width: 70%;
    }
    .file-manager-go {
        width: 26%;
        float: right;
    }
    .file-manager-results {
        display: block;
        clear: both;
        a {
            text-decoration: none;
            &:active, &:focus, &:visited, &:hover {
                color: $gray;
            }
        }
    }
}

/*
.box {
    position: relative;

    height: 100%;

    padding: 10px;

    overflow-y: auto;

    .item {
        position: absolute 10px 10px;

        $icon-size: 80px;
        $desc-height: 20px;

        width: $icon-size;
        height: 110px;

        transition: 1s all ease;
        text-align: center;

        cursor: pointer;

        text-decoration: none;

        color: $white;

        i {
            transition: 1s all ease;
            display: block;
            background: $red;
            color: $white;
            width: $icon-size;
            line-height: $icon-size;
            height: $icon-size;
            font-style: normal;
            border-radius: $radius;
            font-size: 18px;
            box-shadow: $default-shadow;
        }

        span {
            display: block;
            padding: 5px 0px;
        }

        &.selected i {
            background: $dark-gray;
        }
    }
}

.button:hover, .item:hover i {
    box-shadow: $disperded-shadow;
}

.button:active, .item:active i {
    margin: 1px 0px 0px;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px rgba(0,0,0,0);
}
*/
